.forget-password-form-wrapper{
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #1e1e1e; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    align-items: start;
}

.email-text{
    margin: 20px 0px;
}

.form-box input {
    font-size: 16px;
}
