.forget-password-form-wrapper{
    max-width: 400px;
    margin: 100px auto;
    padding: 20px;
    background-color: #1e1e1e; 
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    align-items: start;
}


.email-text{
    margin: 20px 0px;
}

button#cancel-btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: red; 
    color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button#recover-btn{
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: green; 
    color: #f0f0f0;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button#cancel-btn:hover{
    
}

button#recover-btn:hover{

}
