.body-card {
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: var(--card-product-details-background-color);
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
}

.header-row {
  display: flex;
  border-bottom: 2px solid var(--primary-color);
}

.header-item {
  flex: 1;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--primary-color); /* color del texto de los encabezados de la tabla */
}

.body-row {
  display: flex;
  flex-direction: column;
}

.body-item {
  display: flex;
  border-bottom: 1px solid var(--table-lines-color); 
}

.item {
  flex: 1;
  padding: 0.5rem;
}
