.nav-side-bar-wrapper {
    width: 250px;
    background-color: var(--navbar-color); 
    padding: 20px;
  }
  
  .nav-section {
    margin-top: 20px;
  }

  .nav-section a {
    text-decoration: none;
  }
  
  
  .nav-item-box {
    display: flex;
    align-items: center;
    padding: 10px 0;
    margin: 25px;
    font-size: 16px;
    cursor: pointer;
    color: var(--navbar-text-color);
    transition: color 0.3s;
  }
  
  .nav-item-box:hover {
    color: var(--navbar-text-hover-color);
  }

  .nav-icon {
    margin-right: 10px;
    width: 26px;  
    height: 26px;
  }
  