.unauthorized-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--background-color);
    text-align: center;
  }
  
  .unauthorized-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
  }
  
  .unauthorized-message {
    font-size: 1.2rem;
    color: #fff;
    margin-bottom: 2rem;
  }
  
  .unauthorized-button {
    padding: 0.8rem 1.5rem;
    font-size: 1rem;
    color: #fff;
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .unauthorized-button:hover {
    background-color: var(--primary-color-hover);
  }
  